---
import Layout from '../layouts/Layout.astro';
import DemoComponents from '../components/DemoComponents.astro';
---

<Layout title="Welcome to the Demo Page.">
    <main>
        <DemoComponents
            cols={5}
            rows={5}
            maxCols={3}
            maxRows={3}
        />
        <DemoComponents
            cols={3}
            rows={3}
            maxCols={3}
            maxRows={3}
        />
        <DemoComponents
            cols={10}
            rows={10}
            maxCols={5}
            maxRows={5}
        />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
</style>
