---
import Layout from '../layouts/Layout.astro';
import DemoComponents from '../components/DemoComponents.astro';
---

<Layout title="Welcome to the Demo Page.">
    <main class="container mx-auto px-4 py-8">
        <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 max-w-7xl mx-auto"
        >
            <DemoComponents
                title="Panel 1"
                cols={3}
                rows={3}
            />
            <DemoComponents
                title="Panel 2"
                cols={5}
                rows={5}
            />
            <DemoComponents
                title="Panel 3"
                cols={5}
                rows={5}
            />
            <DemoComponents
                title="Panel 4"
                cols={5}
                rows={5}
            />
            <DemoComponents
                title="Panel 5"
                cols={5}
                rows={5}
            />
            <DemoComponents
                title="Panel 6"
                cols={5}
                rows={5}
            />
            <DemoComponents
                title="Panel 7"
                cols={5}
                rows={5}
            />
            <DemoComponents
                title="Panel 8"
                cols={5}
                rows={5}
            />
            <DemoComponents
                title="Panel 9"
                cols={5}
                rows={5}
            />
        </div>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
</style>
